body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("/img_parallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://www.w3schools.com/howto/img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border, a.border {
  background-color: #111;
  color: #fff;
  padding: 1.3%;
  min-width: 300px;
  font-size: 25px;
  letter-spacing: 5px;
  opacity: 0.8;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
    margin: 6px;
    transition: 0.3s all ease;
    opacity: 0.95;
    padding: 5px;
    text-align: center;
  }
  
  a {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: none;
    position: relative;
    transition: 0.5s all ease;
    font-weight: 500;
  }
  
  li:first-child a {
    margin-top: 0;
  }

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

